:root {
  --card-extra-margin-top: 1rem;
  --card-padding-top: 1rem;
  --card-flex-gap: 0.5rem;

  --control-element-height: 7rem;
  --control-element-width-small: 6rem;
  --control-element-width-big: 7rem;
  --control-element-transition: 0.15s;

  --my-strong-blue: #2260ff;
  --border-grey: 2px solid #b5bfd9;
  --border-grey-thin: 1px solid #b5bfd9;
}

*, *::before, *::after {
  box-sizing: border-box;
  color: inherit;
}

body {
  min-height: 100svh;
  width: 100svw;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: large; */
  color: black;
  margin: 0;
  padding: 1rem;
  background-color: powderblue;
}
@media (max-width: 45rem) {
  body {
    padding: 0.25rem;
  }
}

footer {
  padding-bottom: 5rem;
}


.layout-beginner, .layout-advanced {
  display: flex;
  flex-direction: column;
}
@media (min-width: 70rem) {
  .layout-advanced {
    display: grid;
    grid-template-columns: 2fr 1fr;

    height: 100%;
    overflow: auto;

    .papers-container {
      height: 100%;
      padding: 0.5rem;
      padding-right: 0;
    }
    .grid-cards {
      grid-template-columns: 1fr;
      overflow-y: auto;
      padding: 1rem;
      padding-top: 0;
    }
    + footer {
      display: none;
    }
  }
  body:has(> main.layout-advanced) {
    height: 100svh;
    padding: 0;
  }
}
@media (min-width: 110rem) {
  .layout-advanced {
    grid-template-columns: 3fr 1fr;
  }
}


.papers-container {
  height: 60svh;
  width: 100%;
}
.paper-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: purple;
  /* margin: auto; */
  /* resize: both; */
  /* overflow: auto; */

  padding: 3px; /* we do this combined with this colored container to get a border. We do this workaround because css border messes up the drawing position that is calculated in the script using the canvas.offsetLeft and .offsetTop */
}
.paper {
  flex: 1;
  background-color: white;
  image-rendering: pixelated;

  height: 100% !important;
  width: 100% !important;
  overflow: clip;
}



/* available cursors: https://developer.mozilla.org/en-US/docs/Web/CSS/cursor */
.mouse-default {
  cursor: unset;
}
.mouse-new {
  cursor: crosshair;
}
.mouse-drag {
  cursor: grab;
}
.mouse-dragging {
  cursor: grabbing;
}
.mouse-select {
  cursor: pointer;
}



/* styling the stuff below the canvas */

a {
  text-decoration: none;
  color: var(--my-strong-blue);
  font-weight: bolder;
  pointer-events: initial;
}
a:hover {
  text-decoration: underline;
}

.text-end {
  text-align: end;
}


.card {
  display: flex;
  flex-direction: column;
  gap: var(--card-flex-gap);

  background-color: white;
  border: var(--border-grey);
  border-radius: 0.75rem;

  margin-top: calc(var(--card-padding-top) + var(--card-extra-margin-top));
  padding: 1.25rem;
  padding-top: var(--card-padding-top);
  padding-bottom: 1.75rem;

  transition: border-color 0.5s ease-out, box-shadow 0.5s ease-out;
}

.card h2 {
  font-size: 1.375rem;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  background-image: linear-gradient(to right, #3b82f6, var(--my-strong-blue));
  border: 2px solid #ffffff;
  border-radius: 0.75rem;

  margin-top: calc(-1 * (var(--card-padding-top) + var(--card-extra-margin-top)));
  margin-bottom: calc(1rem - var(--card-flex-gap));
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem 2rem;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0.25rem;

  > li {
    list-style: none;

    &:before {
      content: '◆';
    }
  }
}
.card p {
  margin-top: 0;
}
.card p:last-of-type {
  margin-bottom: 0rem;
}

.card-info h2, .card-stuff h2 {
  width: fit-content;
}
.card-stuff h2 {
  margin-left: auto;
}

.card:hover {
  border-color: #008bf8;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}

.grid-cards {
  display: grid;
  gap: 0 1rem;
}
@media (min-width: 45rem) {
  .grid-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 70rem) {
  .grid-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}




/* checkbox-style selection of multiple things */
/* copied and adjusted from https://codepen.io/havardob/pen/BapJYMg */

.controls-group {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-evenly; */
	justify-content: center;
	user-select: none;
  padding: 0.25rem;
  gap: 0.55rem;
}
fieldset.controls-group {
  border: var(--border-grey-thin);
  padding: 0.5rem;
  gap: 0.25rem;
}

.controls-group-legend {
  font-size: 1.25rem;
	font-weight: bold;
	color: #5c5c5c;
}

.control-element-input {
	/* hide the actual input element */
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;

  &:checked +.control-element-tile {
    border-color: var(--my-strong-blue);
  }
	&[type="checkbox"] +.control-element-tile::before {
    display: block;
	}
	&[type="button"] +.control-element-tile {
    border-radius: 0;
  }

  /* handle different input types on interaction */
	&:checked[type="radio"] +.control-element-tile {
    background-image: linear-gradient(to top, var(--my-strong-blue), var(--my-strong-blue) 30%, transparent);
    .control-element-icon, .control-element-label {
      color: white;
    }
	}
	&:checked[type="checkbox"] +.control-element-tile {
		&:before {
			background-color: var(--my-strong-blue);
			border-color: var(--my-strong-blue);
		}
		.control-element-icon, .control-element-label {
			color: var(--my-strong-blue);
		}
	}
  &:active[type="button"] +.control-element-tile {
    background-color: var(--my-strong-blue);
    border-color: var(--my-strong-blue);
    .control-element-icon, .control-element-label {
      color: white;
    }
  }
}

.control-element-tile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: var(--control-element-width-small);
	height: 7rem;
	border-radius: 0.75rem;
	border: var(--border-grey);
	background-color: #ffffff;
	box-shadow: 0 5px 10px rgba(#000, 0.1);
	transition: var(--control-element-transition) ease;
	cursor: pointer;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		display: none;
		width: 1.25rem;
		height: 1.25rem;
		border: var(--border-grey);
		background-color: #fff;
		border-radius: 50%;
		top: 0.25rem;
		left: 0.25rem;
		transition: 0.25s ease;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
		background-size: 12px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	&:hover {
		border-color: var(--my-strong-blue);
	}
}
@media (min-width: 110rem) {
  .control-element-tile {
    --control-element-width-small: var(--control-element-width-big);
  }
}

.control-element-icon {
	transition: var(--control-element-transition) ease;
	color: #494949;
	svg, img {
		width: 3rem;
		height: 3rem;
	}
}

.control-element-label {
	color: #5c5c5c;
	transition: var(--control-element-transition) ease;
	text-align: center;
}

.control-element:has( input:disabled) * {
  color: rgb(150, 150, 150);
  border-color: rgb(150, 150, 150);
  background-color: rgb(238, 238, 238);
  filter: grayscale(100%);

  cursor: unset;

  .control-element-tile {
    &:before {
      display: none;
    }
  }

  img {
    filter: opacity(0.5);
  }
}
