html, body {
  height: 100%;
  background-color: powderblue;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
  width: 100%;
  height: 60%;
  background-color: white;
  border: 5px solid purple;

}

canvas {
  min-height: 500px;
}
